
.auth div[class ^="col"]:first-child{
    height:100vh;
    background-image: url("../../../assets/img/bg/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width: 
768px) {
    .auth div[class ^="col"]:first-child{

        height:100px;
    }
  }

.auth div[class ^="col"]:first-child::after{

    content:"";
    position : absolute;
    top:0;bottom:0;left:0;right:0;
    opacity:.9;
    background-color: var(--color2);
}
.auth img{
    position : relative;
    z-index: 10;
}
.auth .close-btn{
    position : absolute;
    top:1rem;
    left:1rem;
    color:var(--color1);
    z-index: 10;
    font-size: 3rem;
    cursor:pointer;
}
.auth .close-btn:hover{
    color:white;
}
.auth div[class ^="col"]:last-child{
    padding:3rem;
}